.places {
  background-color: #fff;
  max-width: 1440px;
  height: 284px;
  margin: 0 auto;
  background-image: url('../../assets/img/bg.png');
  box-shadow: 0 8px 40px  rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.circle-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 740px;
  height: 126px;
  margin: auto;
}
.circle {
  width: 126px;
  height: 126px;
  border: 1px solid #B79C10;
  z-index: 10;
  border-radius: 50%;
  /* Винести елемент вище по z-index через скрипт */
}
.colorfulCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 126px;
  background-color: #FFE145;
  border-radius: 50%;
}
.circleNumber {
  font-family: var(--circle);
  font-size: 58px;
  font-weight: 700;
  color: #3F4255;
}
.circle-text {
  width: 126px;
  margin: 0;
  text-align: center;
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  color: #3F4255;
}
@media (max-width: 1100px) {
  .circle-container {
    width: 640px;
    height: 126px;
  }
  .circle,
  .colorfulCircle {
    width: 110px;
    height: 110px;
  }
  .circle-text {
    width: 106px;
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .circle-container {
    width: 500px;
    height: 126px;
  }
  .circle,
  .colorfulCircle {
    width: 90px;
    height: 90px;
  }
  .circleNumber {
    font-size: 32px;
  }
  .circle-text {
    width: 106px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .circle-container {
    width: 400px;
    height: 116px;
  }
  .circle,
  .colorfulCircle {
    width: 80px;
    height: 80px;
  }
  .circleNumber {
    font-size: 28px;
  }
  .circle-text {
    width: 80px;
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .circle-container {
    display: grid;
    /* align-items: center; */
    align-self: center;
    grid-template-columns: repeat(2, 70px);
    width: 200px;
    height: 216px;
  }
  .circle,
  .colorfulCircle {
    width: 60px;
    height: 60px;
  }
  .circleNumber {
    font-size: 20px;
  }
  .circle-text {
    width: 60px;
    font-size: 14px;
  }
}