section {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
.hero-first-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1440px;
  height: 780px;
}

.hero-second-container {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 872px;
  height: 104px;
  background-color: #fff;
  box-shadow: 0 8px 40px  rgba(0, 0, 0, 0.08);
}
.hero-title {
  position: absolute;
  left: 115px;
  width: 538px;
  height: 288px;
  margin-bottom: 250px;
}
.image {
  position: absolute;
  right: 90px;
  margin-bottom: 25px;
}
h1 {
  margin: 0;
  font-family: var(--main-font);
  font-size: 58px;
  line-height: 64px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #3F4255;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 259px;
  height: 72px;
  margin-top: 80px;
  gap: 25px;
}
.image img {
  max-width: 800px;
}
.hero-btn {
  width: 117px;
  height: 72px;
  border: 2px solid #FFE145;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #FFF7CC;
  border: 2px solid #FFF7CC;
  transition: all 0.25s;
}
.hero-btn p:hover {
  color: #B79C10;
  transition: all 0.25s;
}
.hero-btn p {
  display: block;
  align-content: center;
  text-align: center;
  margin: 0;
  width: 117px;
  height: 72px;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #3F4255;
}
p > span {
  font-size: 12px;
  font-weight: 400;
}
.hero-component-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 246px;
  height: 56px;
}
.hero-component-icon p {
  text-align: start;
  font-family: var(--second-font);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media (max-width:1440px) {
  .hero-title {
    position: absolute;
    left: 50px;
    width: 438px;
    height: 288px;
    margin-bottom: 250px;
  }
  h1 {
    font-size: 42px;
  }
  .buttons {
    max-width: 200px;
  }
  .hero-btn {
    width: 100px;
    height: 65px;
  }
  .hero-btn p {
    width: 100px;
    height: 65px;
    font-size: 14px;
  }
  p > span {
    font-size: 10px;
    font-weight: 400;
  }
  .image img {
    width: 700px;
    height: 600px;
    right: 90px;
    margin-bottom: 25px;
  }
  .hero-second-container {
      width: 772px;
  }
}
@media (max-width:1100px) {
  .hero-title {
    position: absolute;
    left: 50px;
    width: 338px;
    height: 288px;
    margin-bottom: 250px;
  }
  h1 {
    font-size: 32px;
  }
  .buttons {
    max-width: 180px;
  }
  .hero-btn {
    width: 80px;
    height: 55px;
  }
  .hero-btn p {
    width: 80px;
    height: 55px;
    font-size: 12px;
  }
  p > span {
    font-size: 8px;
    font-weight: 400;
  }
  .image img {
    width: 500px;
    height: 400px;
    margin-bottom: 25px;
  }
  .hero-second-container {
      width: 772px;
  }
}