.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 600px;
  width: 1440px;
  height: 72px;
  background-color: #fff;
  border: 1px solid #000;
  font-family: var(--second-font);
  font-weight: 700;
}
.header-text {
  margin-left: 1px;
  color: #9093A6;
}
.menu {
  display: flex;
  align-items: center;
  gap: 48px;
  width: 257px;
  height: 48px;
  color: #9093A6;
}
.menu-log_in {
  display: flex;
  align-items: center;
  width: 74px;
}
.menu-cart {
  display: flex;
  align-items: center;
  width: 36px;
}
.burger {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px  rgba(0, 0, 0, 0.08);
  transform: scale(1);
}
.burger span {
  width: 24px;
  height: 2px;
  background-color: #9093A6;
}
.burger::before, .burger::after {
  content: ' ';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #9093A6;
}
.burger::before {
  top: 12px;
}
.burger::after {
  bottom: 12px;
}