.specialities {
  max-width: 1440px;
  height: 350px;
  margin: 0 auto;
}
h2 {
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 3px;
}
.rest-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F4FA;
  width: 118px;
  height: 48px;
  border-radius: 4px;
  font-family: var(--second-font);
  font-weight: 700;
  color: #9093A6;
}
.rest-btn:hover {
  background-color: #D4D7E5;
  color: #3F4255;
  transition: all 0.25s;
  cursor: pointer;
}
.rest_container22 {
  width: 1256px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.rest-img1 {
  width: 48px;
  height: 48px;
  background-image: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-preview1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 136px;
  height: 136px;
  border-radius: 5px;
  box-shadow: 0 8px 40px  rgba(0, 0, 0, 0.1);
}
.arrow-container1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 180px;
  left: 70px;
  display: flex;
  width: 1300px;
}
.arrow3,.arrow4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0 8px 40px  rgba(0, 0, 0, 0.1);
  display: none;
}
.arrow3:hover,
.arrow4:hover {
  box-shadow: 0 8px 40px  rgba(0, 0, 0, 0.25);
  transition: all 0.25s;
  scale: 1.1;
  cursor: pointer;
}
.specialities-text {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 400;
  color: #313030;
  padding-bottom: 10px;
  margin: 0;
}
@media (max-width: 1440px) {
  .rest_container1 {
    width: 1100px;
  }
  .rest_container22 {
    width: 1100px;
  }
  .card-preview1 {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 1180px) {
  .rest_container1 {
    width: 900px;
  }
  .rest_container22 {
    width: 900px;
  }
  .card-preview1 {
    width: 120px;
    height: 120px;
  }
  .s22 {
    display: none;
  }
  .arrow3,
  .arrow4 {
    display: flex;
  }
}
@media (max-width: 1180px) {
  .rest_container1 {
    width: 700px;
  }
  .rest_container22 {
    width: 700px;
  }
  .s23 {
    display: none;
  }
}
@media (max-width: 800px) {
  .rest_container1 {
    width: 500px;
  }
  .rest_container22 {
    width: 580px;
  }
  .card-preview1 {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 680px) {
  .rest_container1 {
    width: 400px;
  }
  .rest_container22 {
    width: 400px;
  }
  .card-preview1 {
    width: 110px;
    height: 110px;
  }
  .s24 {
    display: none;
  }
}
@media (max-width: 500px) {
  .rest_container1 {
    flex-direction: column;
    width: 320px;
  }
  .rest_container22 {
    width: 320px;
  }
  .card-preview1 {
    width: 100px;
    height: 100px;
  }
  .s24 {
    display: none;
  }
  .arrow3,.arrow4 {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 400px) {
  .rest_container1 {
    flex-direction: column;
    width: 280px;
  }
  .rest_container22 {
    width: 280px;
    justify-content: space-around;
  }
  .card-preview1 {
    width: 100px;
    height: 100px;
  }
  .s25 {
    display: none;
  }
}